$keyline_grey:#888;
$body_grey:#111;
$header_grey:#222;

$edit_link_background: #888;
$edit_link_border: #080;
$edit_link_color: #fff;
$edit_link_background_hover_color: #444;
$edit_link_highlight_color: #f55;

$white: #fff;
$blue: #2B357A;
