@import "includes";

.article_widget {
  img {
    width:100%;
  }
  &.third_widget {
    h2 {
      margin-top:0;
    }
    @media (max-width: $tablet - 1) {
      img {
        width:100%;
      }
    }
  }
}
