@import 'includes';

a.edit_page, a.add_page {
  @include transition;
  font-size:2em;
  position:absolute;
  top:$gutter;
  left:$gutter;
  color:$white;
  display: block;
  padding:$gutter;
  background:$edit_link_color;
  i {
    display:inline-block;
    width:1em;
  }
  &:hover {
    // background:$edit_link_hover_color;
    @include transition;
  }
  &.selected {
    // background:$edit_link_highlight_color;
  }
}

a.new {
  @include edit_link;
  position:absolute;
  left:$gutter;
  top:$gutter;
}

nav.new_content_links {
  position:absolute;
  top:0;
  right:0;
  border:1px solid $keyline_grey;
  padding:0 $gutter;
  ul, li {
    margin:0;
    padding:0;
    list-style:none;
  }
  a {
    display:block;
    color:$body_grey;
    text-decoration: none;
    border-top:1px solid $keyline-grey;
  }
  li:first-child a {
    border-top:none;
  }
}
