@import 'includes';
.flash {
  color:$white;
  padding:$gutter;
  margin:$gutter;
  &.error {
    background:$red;
  }
  &.success {
    background:$green;
  }
  &.notice {
    background:$green;
  }
}
