@import 'includes';

form {
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='email'],
  label,
  textarea {
    display:block;
    width:100%;
    margin:$gutter 0;
  }
  label {
    line-height: 1em;
  }
  textarea {
    height:20em;
  }
  input {
    border:1px solid $keyline_grey;
    padding:5px;
  }
  fieldset {
    border:none;
    padding:0;
  }
  button, input[type='submit'] {
    padding:5px;
    border:1px solid $keyline_grey;
    background: $blue;
    color:$white;
    margin:$gutter 0;
  }
}
