@import 'includes';
.slot {
  position:relative;
  margin: $gutter/2 0;
  padding: 0 $gutter/2;
  @include clearfix;
  &.third {
    float:left;
    width: $widescreen/3;
    height: $widescreen/3;
    @media (max-width: $widescreen - 1) {
      & {
        width: $desktop/3;
        height: $desktop/3;
      }
    }
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet/3;
        height: $tablet/3;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
      }
    }
  }
  &.widescreen {
    width:auto;
    clear:both;
  }

  &.article {
    width:$widescreen / 2;
    clear:both;
    margin:$gutter auto;
    @media (max-width: $widescreen - 1) {
      & {
        width: $desktop*0.66;
      }
    }
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
      }
    }
  }

  &.desktop {
    width: $desktop/3;
    clear:both;
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet/3;
        height: $tablet/3;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
      }
    }
  }
  a.new {
    @include edit_link;
    position:absolute;
    left:0;
    top:0;
  }
  &.admin {
    margin:0 $gutter
  }
}
