@import 'includes';
.slot {
  position:relative;
  margin: $gutter/2 0;
  padding: $gutter/2;
  @include clearfix;
  &.third {
    float:left;
    width: $widescreen/3;
    height: $widescreen/3;
    @media (max-width: $widescreen - 1) {
      & {
        width: $desktop/3;
        height: $desktop/3;
      }
    }
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet/3;
        height: $tablet/3;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
        float:none;
        height:auto;
      }
    }
  }
  &.widescreen {
    width:auto;
    clear:both;
  }

  &.banner {
    width:auto;
    clear:both;
    img {
      width:100%;
    }
  }

  &.article {
    width:$widescreen / 2;
    clear:both;
    margin:$gutter auto;
    @media (max-width: $widescreen - 1) {
      & {
        width: $desktop*0.66;
      }
    }
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
      }
    }
  }

  &.desktop {
    width: $desktop/3;
    clear:both;
    @media (max-width: $desktop - 1) {
      & {
        width: $tablet/3;
        height: $tablet/3;
      }
    }
    @media (max-width: $tablet - 1) {
      & {
        width:auto;
      }
    }
  }
}

