%header
  %h1
    =link_to root_path do
      =image_tag asset_path("logo.jpg"), alt: "St Cuthman's Whitehawk"
  %nav
    %ul
      %li= link_to "Home", "/"
      %li= link_to "About", "/about"
      %li= link_to "News", "/news"
      %li= link_to "Podcast", "/podcast"
