-if @page
  - metadata = @page.metadata

  %title= [metadata.title, "St Cuthman's Whitehawk"].join(" - ")

  -if metadata.description
    %meta{ name: "description", value: metadata.description }

  -if metadata.og_title
    %meta{ property: "og:title", content: metadata.og_title }

  -if metadata.og_description
    %meta{ property: "og:description", content: metadata.og_description }

  %meta{ property: "og:url", content: [request.protocol, request.host_with_port, @page.path].join }

-else
  %title "St Cuthman's Whitehawk"

%meta{ property: "og:site_name", content: "St Cuthman's Church Whitehawk" }

= csrf_meta_tags

%meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
